

h1 {
    height: 70px; width: 100vw;
    /* height: auto; width: 100vw; */
    margin: 0px; 
    padding: 20px 0px 0px 0px;
    text-align: center;
    background-color: rgba(60,200,10,0.5);
}


h2 {
    height: 40px; width: 90vw;
    margin: 8px;
}
h3 {
    height: 30px; width: auto;
    margin: 0px;
    margin-left: 8px;
}
p {
    margin: 0px;
    margin-left: 16px;
}
ul {
    list-style-type: none;
    background: #3399ff;
    padding: 8px;
}
ul li {
    background: #cce5ff;
    margin: 5px;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img{
    height: 120px;
}

/* .hidden{
    display: none;
} */
