.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px;
    overflow: scroll;
}
.action-btn{
    margin: 8px; padding: 8px;
    border: 4px double white;
    font-size: 1.2em;
}
.log-btn{
    margin: 8px; padding: 8px;
    border: 4px ridge white;
    /* transform: translate(0px, 0px) scale(1); */
    font-size: 1.2em;
}
.template-btn{
    margin: 8px; padding: 8px;
    border: 4px dotted white;
}
.faded{
    opacity: 0.5;
}